<html>
    <head>
        <script type="text/javascript">
            function loadValue() {
                fetch("https://ffh8awx1h8.execute-api.us-east-1.amazonaws.com/dev/api/unauthed")
                    .then(response => response.text())
                    .then(text => document.getElementById("value").innerHTML = text)
                    .catch(error => console.error(error));
            }
        </script>
    </head>
    <body onload="loadValue()">
        <b>Value: </b><span id="value"></span>
    </body>
</html>